@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

a:hover {
  text-decoration: none !important;
}
.nav-user li {
  margin-left: 10px;
}
.login_from-wrapper {
  max-width: 450px;
  margin: 0 auto;
}

.login_from-wrapper form input:-webkit-autofill{
  -webkit-text-fill-color:#000000 !important; 
}

.nav-user {
  align-items: center;
}

.form-label{
  color: #000000;
  font-size: 16px;
  display: block;
  margin-bottom: 5px !important;
}

.btn-custom{
  border: 1px solid #cca772 !important;
  padding: 9px 30px;
  background: #cca772;
  color: #fff !important;
  font-size: 13px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

.btn-custom:hover {
  background: transparent;
  border-color: #cca772;
  color: #cca772 !important;
}

.form--primary .form-group {
  margin-bottom: 10px;
}
.form--primary input {
  border-radius: 0;
  height: 40px;
  border-color: #eee;
}
.form--primary input:focus {
  outline: 0;
  box-shadow: none;
}
.form--primary input::placeholder {
  font-size: 14px;
  color: #999;
}
.form--primary textarea {
  border-radius: 0;
  padding-left: 18px;
  border-color: #eee;
}
.form--primary textarea::placeholder {
  font-size: 14px;
  color: #999;
}

.itemRoom__link img{
  width: 100% !important;
  object-fit: cover !important;
}

.header-btn-more{
  color: #c9a96a !important;
}

.title--overhead{
  font-size: 22px;
}

.input-group{
  margin-top: 15px !important;
}

.form--primary input.form-control{
  width: 100% !important;
}

.profile-image{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-image img{
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.text-link{
  color: #c9a96a !important;
  font-weight: 600;
}

/* Alert Message Box */

.alert--message {
  padding: 15px 20px;
  background-color: #f1f1f1;
  color: #c9a96a;
  border-top: solid 5px #141414;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn--close--message {
  margin-left: 15px;
  color: #c9a96a;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--close--message:hover {
  color: black;
}

/* Alert Message Box */

.select-control{
  border-radius: 0 !important;
  outline: none !important;
}

.select-control:focus{
  outline: none !important;
}

.room-item {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  margin-bottom: 30px;
  border: solid 1px #eee;
}
.room-item .image-wrapper{
  overflow: hidden;
  background-color: black;
}

.room-item img{
  width: 100%;
  object-fit: cover;
  height: 200px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.9;
}

.room-item img:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.room-item h3 {
  font-size: 26px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.room-item p {
  color: #7a7a7a;
}

.room-item p strong {
  color: #000000;
  font-weight: 400;
}

.room-item p:last-child {
  margin-bottom: 0;
}

.room-item .text {
  padding: 20px;
  border-top: none;
}

.room-item.fade {
  opacity: .4;
}

.room-navigation{
  border: solid 1px #c9a96a;
  border-radius: 12px;
  padding: 20px;
}

.room-navigation h4{
  font-size: 18px;
  border-bottom: solid 1px #c9a96a;
}

.room-navigation ul {
margin-top: 10px;
}

.room-navigation ul li{
  margin: 8px 0;
  border-bottom-style: dotted solid double;
  border-bottom-color: #c9a96a;
  /* border-bottom: solid 1px #c9a96a; */
}

.room-navigation ul li a{
  color: #141414;
  transition: 0.3s;
  font-size: 18px;
}

.room-navigation ul li.active a{
  color:#c9a96a ;
}

.room-navigation ul li:hover{
  cursor: pointer;
}

.room-navigation ul li:hover a{
  color:#c9a96a ;
}